{% load static %}
{% block app_css %}
    <link rel="stylesheet" href="{% static 'blog/post.css' %}">
{% endblock app_css %}
<a href="{% url 'blog-single-post' post.slug %}">
    <article>
        <div class='about'>
            <h3>{{ post.title }}</h3>
            <h5>{{ post.author }}</h5>
            <p>{{ post.date }}</p>
        </div>
        <div class='small-image'>
            <img src="{{ post.image.url }}" alt="{{ post.image }}" />
        </div>
    </article>
</a>
{% comment %} <p class='content'>{{ post.content| slice:":100" }}...</p> {% endcomment %}
