{% extends 'base.html' %}
{% load static %}
{% block title %}
  BLog
{% endblock title %}
{% block app_css %}
  <link rel='stylesheet' href="{% static 'blog/index.css' %}" />
{% endblock app_css %}
{% block content %}
  <section id="greeting">
    <h1>Blog app starting page</h1>
  </section>
  <section id="trendig">
    <h1>Trendings Posts</h1>
    {% for post in posts %}
      {% include 'blog/includes/post.html' %}
    {% endfor %}
  </section>
  <section id="new">
    <h1>Latest Posts</h1>
  </section>
{% endblock content %}
